<div class="layout-wrapper" [ngClass]="{'layout-compact':layoutCompact}" (click)="onLayoutClick()">
  <ng-progress></ng-progress>
  <basis-block-ui></basis-block-ui>
  <div #layoutContainer class="layout-container" [ngClass]="{'menu-layout-static': !isOverlay(),
      'menu-layout-overlay': isOverlay(),
      'layout-menu-overlay-active': overlayMenuActive,
      'menu-layout-horizontal': isHorizontal(),
      'menu-layout-slim': isSlim(),
      'layout-menu-static-inactive': staticMenuDesktopInactive,
      'layout-menu-static-active': staticMenuMobileActive}">

    <app-topbar></app-topbar>

    <div class="layout-menu" [ngClass]="{'layout-menu-dark':darkMenu}" (click)="onMenuClick($event)">
      <div #layoutMenuScroller class="nano">
        <div class="nano-content menu-scroll-content">
          <div class="menu-container">
            <div class="ui-g-11">
              <app-menu [reset]="resetMenu"></app-menu>
            </div>
            <div class="ui-g-1">
              <a class="notificacoes" (click)="panelNotificacoes.toggle($event)">
                <i class="topbar-icon material-icons">notifications</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="layout-main">
      <div class="layout-content">
        <basis-page-notification></basis-page-notification>
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="layout-mask"></div>
  </div>
</div>

<p-overlayPanel #panelNotificacoes [styleClass]="'painel-notificacoes'">
  <div class="notificacoes-header ui-g">
    <div class="ui-g-10">
      <label class="titulo-notificacoes">Notificações</label>
    </div>
    <div class="ui-g-2">
      <a (click)="panelNotificacoes.hide($event)" class="fechar-notificacoes">
        <i class="material-icons">close</i>
      </a>
    </div>
  </div>
</p-overlayPanel>
