.title-color{
    color: #009688;
}
.background-component-white{
    background:  #ffffff;
}

.w14p {
    width: 14% !important;
}

.botao-pesquisar {
    margin-left: 0.8%;
    width: 7.5%;
    padding-right: 10% !important;
    padding-left: 0px;
}



