.title-color{
    color: #009688;
}
.background-component-white{
    background:  #ffffff;
}

.w14p {
    width: 14% !important;
}

.wp16-4{
    width: 16.2% !important;
}

.botao-pesquisar {
    margin-left: 0;
    width: 11.3%;
    padding-right: 10% !important;
    padding-left: 0;
}


