/* You can add global styles to this file, and also import other style files */
$verdeEscuro: #10785F;
$backgroundColor: #2E3E3D;

.layout-container .topbar {
    background: #eaeaea; /* Old Browsers */
    background: -webkit-linear-gradient(top,#fff,#eaeaea); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#fff,#eaeaea); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#fff,#eaeaea); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #fff, #eaeaea); /*Standard*/
}

.layout-container.menu-layout-horizontal .topbar .topbar-left {
    background: none;
}

.layout-container .topbar .logo {
    background: none;
    display: flex;
    height: 100%;
    width: 440px;
    h1 {
        color: $verdeEscuro;
        margin: auto 0;
        padding: 10px;
        padding-left: 15px;
        font-size: 35px;
        border-right: 1px solid $verdeEscuro;
    }
}

.layout-container .topbar .topbar-left {
    padding: 0;
}

.nome-sistema {
    padding-left: 10px;
    margin: auto;
    h4 {
        color: $verdeEscuro;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    h3{
       color: $verdeEscuro;
        margin: 0;
        padding: 0;
    }
}

.layout-container.menu-layout-horizontal .layout-menu{
    background: #396C69;
}
.layout-container .ultima-menu{
    width: 82%;
    margin: auto;
}

.layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a.active-menuitem-routerlink{
    color: #fff;
    font-weight: bold;
    border-bottom: #d96a25 solid 3px
}
.layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li.active-menuitem > a {
    background-color: #e8e8e8;
}

.layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li.active-menuitem > a:hover {
   color: #e8e8e8;
}

.layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a:hover, .layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li.active-menuitem > a{
   border-bottom: #d96a25 solid 3px;
   background: none;
   color: #fff;
}



.layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a.active-menuitem-routerlink:hover{
    color: #ffffff;  
}

.layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a:hover i, .layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li.active-menuitem > a i {
    color: #fff;
 }

.layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a i {
    margin-top: 0;
}

.layout-wrapper.layout-compact .layout-container.menu-layout-horizontal .layout-menu ul.ultima-menu > li > ul{
    top: 36px;
}

body{
    background-color: $backgroundColor;
    font-family: "Roboto","Helvetica Neue",sans-serif;
}
.layout-container .layout-main .layout-content{
    background: #eaeaea; /* Old Browsers */
    background: -webkit-linear-gradient(top,#fff,#eaeaea); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#fff,#eaeaea); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#fff,#eaeaea); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #fff, #eaeaea); /*Standard*/
    width: 80%;
    margin: auto;
}

html, body {
    height: 100%;
    font-family: "Open Sans";
}

body .layout-wrapper.layout-compact, body .layout-wrapper.layout-compact .layout-container{
    height: 100%;
}

@media (min-width: 1025px) {
    .layout-wrapper.layout-compact .layout-container.menu-layout-horizontal .layout-main {
        height: calc(100% - 110px) !important;
    }
}

.layout-container .layout-main .layout-content{
    height: calc(100% - 36px);
}

.layout-wrapper.layout-compact .layout-container.menu-layout-horizontal .layout-main {
    height: calc(100% - 75px);
}

.splash-screen {
    background-color: $backgroundColor;
}
.notificacoes{
    float: right;
    padding-right: 23px;
    padding-top: 7px;
    color: #ffffff;
}
.titulo-pagina{
    width: 100%;
    color: #646464;
    border-bottom: solid 1px;
    padding-bottom: 8px;
    font-weight: 500;
}


