<h2 class="titulo-pagina">
  Pessoa Jurídica
</h2>
<div class="ui-g">

  <div class="ui-g-6">
    <span class="md-inputfield ui-g-12 ui-md-12 ui-lg-8">
      <input placeholder="Procurar" (input)="filtrar($event.target.value)"  [(ngModel)]="filtro" type="text" pInputText class="ui-inputtext" />
    </span>
  </div>
  <div class="ui-g-6">
    <div class="ui-g-12 ui-md-12 ui-lg-4 float-right">
      <button pButton type="button" label="Nova Empresa" [icon]="'ui-icon-plus'"></button>
    </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable  [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true" (onLazyLoad)="pesquisar($event)" [lazy]="true" [totalRecords]="result?.totalElements" [value]="result?.content" emptyMessage="Nenhum resultado encontrado.">
      <p-column field="cnpj" header="CNPJ"></p-column>
      <p-column field="sigla" header="Sigla"></p-column>
      <p-column field="nomeFantasia" header="Nome Fantasia"></p-column>
      <p-column field="razaoSocial" header="Razão Social"></p-column>
      <p-column  header=""></p-column>
  </p-dataTable>
  </div>
</div>