<div class="layout-wrapper pagina-login">
  <div class="form-login">
    <h1>SAPED</h1>
    <h3>SISTEMA DE ARRECADAÇÃO PARA PESQUISA E DESENVOLVIMENTO</h3>
    <h4>ÁREA RESTRITA</h4>

    <div class="ui-g">
    <div class="ui-g-12">
      <span class="md-inputfield">
        <input type="text" autocomplete="off" [(ngModel)]="usuario.username" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        <label>CNPJ</label>
      </span>
    </div>
    <div class="ui-g-12">
      <span class="md-inputfield">
        <input type="password" autocomplete="off" [(ngModel)]="usuario.password" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        <label>Senha</label>
      </span>
    </div>
  </div>

    <div class="ui-g login-botoes">
        <div class="ui-g-7">
            <a class="esqueci-senha">Esqueci a senha</a>
        </div>
        <div class="ui-g-5">
            <button class="btn-entrar" pButton type="button" label="Entrar"(click)="fazerLogin()"></button>
        </div>
    </div>

  </div>
</div>
<basis-page-notification></basis-page-notification>